<!DOCTYPE html>
<html class="no-js">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Weather drinking game</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/">
        <link rel="stylesheet" type="text/css" href="css/rtw.css">
    </head>

    <body>
        <h1>Let's goohoo</h1>

        <div class="user-container">
            <span id="user-name"></span>
            <ul id="user-list">
                <!-- generated content -->
            </ul>
        </div>

        <div class="current-question">
            <div id="current-city">

            </div>

            <ul id="current-answers">
                <!-- generated content -->
            </ul>
        </div>

        <div id="start-button" class="start-button">
            <button class="game-start hide">Start Game</button>
        </div>

        <form id="username" class="username">
            <h3 class="title">Enter name</h3>
            <input class="username-input" type="text" maxlength="14" />
            <button type="submit" value="submit" form="username">Enter</button>
        </form>

        <script src="/socket.io/socket.io.js"></script>
        <script src="js/script.js"></script>
    </body>

</html>