$color: (
  primary: (
    base: pink,
    active: red
  ),
  secondary: (
    base: blue,
    active: navy
  ),
  body: #2f3437,
  white: white
);

$font-size: (
  body: 16px,
  small: 14px,
  tiny: 12px,
  intro: 20px,
  h1: (
    base: 32px,
    tablet: 36px,
    desktop: 40px
  ),
  h2: (
    base: 32px,
    tablet: 36px,
    desktop: 40px
  ),
  h3: 24px,
  h4: 20px,
  h5: 18px,
  h6: 16px
);

$spacing: (
  card: 24px,
  button: 16px,
  container: 40px,
  xs: 4px,
  s: 8px,
  m: 16px,
  l: 24px,
  xl: 32px,
  xxl: 40px
);

$radius: (
  card: 10px,
  button: 100px
);

$shadow: (
  default: 0px 2px 4px 0px rgba(0, 0, 0, 0.2),
  hover: 0px 2px 12px 0px rgba(0, 0, 0, 0.32)
);
