$color: (
  primary: (
    base: pink,
    active: red
  ),
  secondary: (
    base: blue,
    active: navy
  ),
  body: black,
  white: white
);

$font-size: (
  body: 16px,
  small: 14px,
  tiny: 12px,
  h1: (
    base: 32px,
    tablet: 36px,
    desktop: 40px
  ),
  h2: (
    base: 32px,
    tablet: 36px,
    desktop: 40px
  ),
  h3: 24px,
  h4: 20px,
  h5: 18px,
  h6: 16px
);
