@use "base/maps" as *;
@use "base/functions" as *;

//////// Styling
//// HTML elements
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: const($color, body);
  color: #fff;
  font-family: sans-serif;
  font-size: const($font-size, body);
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    background-color: transparent;
    padding: const($spacing, s);
    color: const($color, white);
  }
}

h1 {
  font-size: const($font-size, h1, desktop);
}

header,
h2,
h3 {
  margin-bottom: const($spacing, m);
}

form {
  color: const($color, body);
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  bottom: const($spacing, container);
  padding: const($spacing, card);
  background-color: const($color, white);
  border-radius: const($radius, card);
  box-shadow: const($shadow, default);

  input {
    border: 4px solid const($color, primary);
    padding: 10px;
    width: 100%;
    border-radius: const($radius, card);
    margin-bottom: const($spacing, button);
    height: 56px;
    font-size: 20px;
  }

  button {
    width: 100%;
  }
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: decimal;
}

button {
  padding: 20px;
  font-size: 20px;
  border-radius: 999px;
  background-color: const($color, primary, active);
  color: const($color, white);
  border-width: 4px;
  border-color: const($color, primary);
}

//// Custom classes
// Game base
.game-container {
  padding: const($spacing, container);
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 768px;
  position: relative;
  height: 100vh;
}

.game-start {
  margin-top: const($spacing, l);
}

// Questions & Answers
.current-question {
  margin-top: const($spacing, xl);

  .current-city {
    margin-bottom: const($spacing, m);
  }

  .answer {
    margin-bottom: const($spacing, s);
    width: 100%;
  }
}

// User
.user {
  display: flex;
  flex-flow: column;
  border-bottom: 2px solid const($color, white);
  min-width: 250px;
  padding: const($spacing, m) 0;

  .name {
    font-weight: bold;
    font-size: const($font-size, intro);
  }
}

// Winner overlay
.chicken-dinner {
  position: absolute;
  background-color: const($color, body);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Helpers & states
.hide {
  display: none;
}
