@use "base/maps" as *;
@use "base/functions" as *;

//// Styling ////
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
  font-size: const($font-size, body);
}

h1 {
  font-size: const($font-size, h1);
}

form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;

  input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: 0.5%;
  }

  button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
  }
}

button {
  padding: 20px;
  font-size: 20px;
  border-radius: 999px;
  background-color: const($color, primary, active);
  color: const($color, white);
  border-width: 4px;
  border-color: const($color, white);
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    padding: 5px 10px;

    &:nth-child(odd) {
      background: #eee;
    }
  }
}

.hide {
  display: none;
}
